/* Header */

.subheading a{
    color: #a5a5a5;
}


/* Content */
p img{
    max-width: 100% !important;
}

/* Comments section*/
.ctcomment-section li{
    list-style: none;
}

/* Sidebar */
.right-sidebar li{
    list-style: none;
}

.right-sidebar ul{
    padding-left:0 !important;
}

.right-sidebar .btn,
.not-found-seach-form .btn{
    padding:5px !important;
}


/* Footer */
